@page "/"

<SfMaps TooltipDisplayMode="TooltipGesture.Click">
    <MapsTitleSettings Text="Finalist in Cricket World Cup"></MapsTitleSettings>
    <MapsLayers>
        <MapsLayer ShapeData='new {dataOptions= "https://cdn.syncfusion.com/maps/map-data/world-map.json"}'
                   TValue="CountryData" ShapeDataPath="Name" ShapePropertyPath='new string[] {"name"}'
                   DataSource='@PerformanceReport'>
            <MapsLayerTooltipSettings Visible="true" ValuePath="Name">
                <TooltipTemplate>
                    @{
                        var MapData = context as CountryData;
                        <div id="template">
                            <div class="tooltip-wrapper">
                                <div class="listing2">
                                    <center> @MapData.Name</center>
                                </div>
                                <hr style="margin-top: 2px;margin-bottom:5px;border:0.5px solid #DDDDDD">
                                <div>
                                    <center>
                                        <span class="listing1">Win : </span>
                                        <span class="listing2">@MapData.Winner</span>
                                    </center>
                                </div>
                            </div>
                        </div>
                    }
                </TooltipTemplate>
            </MapsLayerTooltipSettings>
            <MapsShapeSettings Fill="#E5E5E5" ColorValuePath="Finalist">
                <MapsShapeColorMappings>
                    <MapsShapeColorMapping Value="1" Color='new string[] {"#acaed8"}'></MapsShapeColorMapping>
                    <MapsShapeColorMapping Value="2" Color='new string[] {"#80c1ff"}'></MapsShapeColorMapping>
                    <MapsShapeColorMapping Value="3" Color='new string[] {"#1a90ff"}'></MapsShapeColorMapping>
                    <MapsShapeColorMapping Value="7" Color='new string[] {"#0b0d35"}'></MapsShapeColorMapping>
                </MapsShapeColorMappings>

            </MapsShapeSettings>
        </MapsLayer>
    </MapsLayers>
</SfMaps>



@code {

    public class CountryData
    {
        public string Name { get; set; }
        public string Winner { get; set; }
        public string Finalist { get; set; }
    }

    public List<CountryData> PerformanceReport = new List<CountryData>
    {
            new CountryData { Name="India", Finalist="3", Winner="2" },
            new CountryData { Name="Australia", Finalist="7", Winner="5" },
            new CountryData { Name="Sri Lanka", Finalist="3", Winner="1"},
            new CountryData { Name="Pakistan", Finalist="2", Winner="1"  },
            new CountryData { Name="United Kingdom", Finalist="3", Winner="0"  },
            new CountryData { Name="New Zealand", Finalist="1", Winner="0"},
            new CountryData { Name="Dominican Republic", Finalist="3", Winner="2"},
            new CountryData { Name="Cuba", Finalist="3", Winner="2"},
            new CountryData { Name="Jamaica", Finalist="3", Winner="2"},
            new CountryData { Name="Haiti", Finalist="3", Winner="2"},
            new CountryData { Name="Guyana", Finalist="3", Winner="2"},
            new CountryData { Name="Suriname", Finalist="3", Winner="2"},
            new CountryData { Name="Trinidad and Tobago", Finalist="3", Winner="2"}
    };

}








<style>

    .tooltip-wrapper {
        width: 100px;
        border-radius: 4px;
        border: 1px #abb9c6;
        background: rgba(53, 63, 76, 0.90);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.40);
        padding-bottom: 5px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px
    }

    .listing1 {
        font-size: 13px;
        color: #cccccc
    }

    .listing2 {
        font-size: 13px;
        color: #ffffff;
        font-weight: 500;
    }
</style>
